*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.caption, .caption2, .caption3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.description {
    margin-top: 400px;
    font-family: Lato, sans-serif;
    font-size: 25px;
    color: #FFF;
    background-color: #111;
    letter-spacing: 10px;
    padding: 18px;
    text-align: center;
    width: 50%;
}

.title {
    margin-top: 400px;
    font-family: Lato, sans-serif;
    font-size: 50px;
    color: #FFF;
    background-color: #111;
    letter-spacing: 10px;
    padding: 18px;
}

.bgimg-1{
    background-image: url(turquoise_mountains_4k.jpg);
    min-height: 100vh;
    width: auto;
}

.bgimg-2 {
    background-image: url(blueforest.jpg);
    min-height: 100vh;
    width: auto;
}

.bgimg-3 {
    min-height: 100vh;
    width: auto;
    background-color: #111;
}

.bgimg-1, .bgimg-2, .bgimg-3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
